/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.12.2013, 1:50:09
    Author     : zolotarev
*/

html {
}

body.bg_img {
    background: url("/images/car-1-bw_1.jpg") repeat center center fixed;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

form {
    margin-bottom: 0px !important;
}

.form {
    margin-top: 150px;
    margin-left: 20px;
    float: none;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.65);
}

.form-group.last {
    margin-bottom: 0px;
}

.logo {
    position: relative;
    margin-top: -170px;
}

h6.header {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0px;
    font-size: 18px;
    font-weight: 600;
}

.form input[type="text"], .form input[type="password"] {
    font-size: 15px;
    height: 25px;
    margin-bottom: 18px;
    border-color: #b2bfc7;
    padding-left: 12px;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
    font-family: "Open Sans", Arial;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: textfield;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    width: 80%;
}

.forgot {
    display: block;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    color: #3d88ba;
    font-size: 13px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.remember {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 35px;
}

.no-account {
    text-decoration: none;
    color: #777;
    text-align: left;
    margin-left: 80px;
    margin-top: 10px;
    width: 100%;
    border-bottom-color: #fff;
}

.no-account a {
    color: #ff3333;
    margin-left: 7px;
    border-bottom: 1px solid;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.no-account a:hover {
    text-decoration: none;
}

@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
    font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login-input-pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.signup-input-confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.create-account {
    text-align: center;
    width: 100%;
    display: block;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-center {
    width: 50%;
    text-align: center;
    margin: inherit;
}

.social-login-btn {
    margin: 0px;
    width: 15px;
    font-size: 250%;
    font-size: 21px !important;
    padding: 0;
}

.social-login-more {
    width: 45%;
}

.social-google {
    background-color: #da573b !important;
    background-image: none !important;
    border-color: #be5238;
}

.social-google:hover {
    background-color: #be5238 !important;
    background-image: none !important;
    border-color: #9b4631;
}

.social-twitter {
    background-color: #1daee3 !important;
    background-image: none !important;
    border-color: #3997ba;
}

.social-twitter:hover {
    background-color: #3997ba !important;
    background-image: none !important;
    border-color: #347b95;
}

.social-facebook {
    background-color: #4c699e !important;
    background-image: none !important;
    border-color: #47618d;
}

.social-facebook:hover {
    background-color: #47618d !important;
    background-image: none !important;
    border-color: #3c5173;
}

.social-linkedin {
    background-color: #4875B4 !important;
    background-image: none !important;
    border-color: #466b99;
}

.social-linkedin:hover {
    background-color: #466b99 !important;
    background-image: none !important;
    border-color: #3b5a7c;
}

.help-block {
    margin-top: -15px;
}