html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.flatBar {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: 0 12px 0 0;
    border-right: 1px solid #e5e5e5;
}



img {
    max-width: none !important;
}

.gm-style {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px;
    font-weight: 400;
}

/*ITS*/
.adminTable tr td {
    padding: 0;
    clear: both;
}

.table th, .table td {
    padding: 8px !important;
}

.grid-view {

}

.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.grid-view .summary {
    text-align: right;
    margin-bottom: -30px !important;
}

.btn-mini>[class*="icon-"], .btn-minier>[class*="icon-"] {
    margin-right: 0px;
}
.btn>[class*="icon-"] {
    margin-right: 0px;
}

/*====== PROMO =======*/
.headline {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    color: rgb(0, 0, 0);
    font-family: AppetiteItalic, Georgia, 'Times New Roman';
    margin: 0px;
    padding: 0px 0px 50px;
    clear: both
}

.leftColumn {
    width: 510px;
    float: left;
    text-align: left;
}

.content {
    width: 1000px;
    margin: 0px auto;
    position: relative;
    color: rgb(0, 0, 0);
    font: normal 15px 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}

.rightColumn {
    width: 340px;
    float: right;
    text-align: left;
}

.address_data {
    font-size: 18px;
}